body {
    background-color: lightskyblue;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  @media only screen and (max-width: 600px) {
    img {
      width: 100%;
    }
    p {
      font-size: 14px;
    }
  }
  
  @media only screen and (min-width: 600px) and (max-width: 900px) {
    p {
      font-size: 16px;
    }
  }
  
  @media only screen and (min-width: 900px) and (max-width: 1200px) {
    p {
      font-size: 18px;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    p {
      font-size: 20px;
    }
}

header {
    background-color: royalblue;
    color: lavender
}

nav {
    background-color: navy;
}

nav a {
    color: lavender;
}

nav a.active {
    font-weight: bold;
}

h2 {
    color: darkblue;
}

h3 {
    color: blue;
}

p {
    color: midnightblue
}

img {
    border: 3px solid blue;
    border-radius: 10px;
}

form {
    color: darkblue;
}

input {
    color: darkslateblue;
    background-color: rgb(187, 241, 241);
}

footer {
    background-color: rgb(205, 238, 252);
}